html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  width: 340px;
}

a:not(.btn) {
  width: 100%;
  font-size: 12px;
  text-decoration: none;
  color: #222222;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a:not(.btn):hover {
  text-decoration: underline;
  color: #444444;
}

p {
  margin: 3px 0px;
}

input {
  border: none;
  border-radius: 0px;
  outline: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px 10px;
}

.btn {
  background-color: #555555;
  border: none;
  color: white;
  padding: 8px 3px;
  text-align: center;
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

.show {
  display: flex !important;
}

.title {
  font-size: 14px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.page {
  display: none;
  flex-wrap: wrap;
}

header .button {
  text-align: center;
  padding: 8px 10px;
}

#sessions {
  width: 100%;
}

.session, .tab {
  display: flex;
  align-items: center;
  padding: 4px 7px;
  box-sizing: border-box;
  justify-content: space-between;
}

.session .content {
  width: 100%;
  padding: 5px 11px;
  cursor: pointer;
  transition: padding .1s ease;
}

.session .content:hover {
  padding: 5px 13px;
}

.session .content:hover p {
  color: #585858;
}

.icon {
  vertical-align: middle;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;
  min-width: 5px;
  min-height: 5px;
  display: inline-block;
}

.deleteIcon {
  background-image: url(./icons/thrash-alt.svg);
}

.moreIcon {
  background-image: url(./icons/menu-hambuger.svg);
}

.gobackIcon {
  background-image: url(./icons/arrow-chevron.svg);
}

.editIcon {
  background-image: url(./icons/edit-alt.svg);
}

.favicon {
  margin-right: 4px;
  width: 11px;
  height: 11px;
}

.session .actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.actions > .icon, .tab > .icon {
  display: inline-block;
  width: 12px;
  height: 12px;
  cursor: pointer;
  opacity: 0.5;
  padding: 0 9px;
  box-sizing: border-box;
}

.actions .icon:hover, .tab .icon:hover {
  opacity: 1;
}

header .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
}

#btnBackToSessions .gobackIcon {
  height: 12px;
  width: 12px;
  filter: invert(1);
  color: #fff;
  margin-right: 6px;
}

#saveNewSession {
  width: 100%;
  font-size: 14px;
  color: rgb(17, 17, 17);
}

#saveNewSession a {
  padding: 7px 5px;
  width: 35%;
  font-size: 0.8rem;
}

#saveNewSession input {
  width: 100%;
  border-top: 1px solid #d0d0d0;
  padding: 2px 11px;
}

#saveNewSession input:focus {
  outline: none !important;
}


#selectedSessionName {
  font-size: 0.95rem;
  font-weight: 700;
  padding: 6px 10px 6px 28px;
  border-radius: 2px;
  cursor: pointer;
  height: 32px;
  font-family: sans-serif;
  background: transparent;
  resize: none;
  border: none;
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin-right: 10px;
}

#selectedSessionName:focus {
  background-color: #eae5e5;
  outline: none;
  cursor: text;
}

#headerSelectedSessionName {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

#headerSelectedSessionName .editIcon {
  height: 15px;
  width: 15px;
  position: absolute;
  pointer-events: none;
  top: calc(50% - 8px);
  left: 7px;
}

#tabs {
  width: 100%;
}